/*
 *Name: Steven Barbosa
 *UnityID: Sbarbos2
 *Date: 2/18/2022
 *Assignment: HTML Independent Assignment
 *Description: Create a page about me
 */
 
body {
	background-color:#FFCCCB;
}

.borderstyle {
    border: 2px solid red;
}

#imgstyle {
    border:2px outset green;
	max-width: 200px;
	max-height:250 px;
}
